.App {
	text-align: center;
	background-color: white;
	/* height: 150vh; */
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	position: fixed;
	width: 100vw;
	top: 0;
	overflow: hidden;
	/* height: 7vh; */
	min-height: 65px;
}

.nav--logo {
	font-size: 1.8rem;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
	color: black;
	position: relative;
	letter-spacing: 1px;
}

.nav--link {
	font-size: 1.2rem;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
	color: black;
	position: relative;
	letter-spacing: 1px;
}

.nav--link:hover,
.nav--menu-link:hover,
.home--link:hover,
.contact--button:hover,
.nav--logo:hover {
	color: green;
}

.nav--link:before,
.nav--menu-link:before,
.home--link:before,
.contact--button:before,
.nav--logo:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: green;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.nav--link:hover:before,
.nav--menu-link:hover:before,
.home--link:hover:before,
.contact--button:hover:before,
.nav--logo:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.nav--menu {
	flex-direction: column;
	justify-content: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	background-color: white;
	display: none;
}

.nav--menu-active {
	display: none;
}

.nav--menu-icon {
	display: none;
}

.nav--menu-link {
	font-size: 1.2rem;
	text-decoration: none;
	margin: 5px auto;
	font-weight: bold;
	color: black;
	position: relative;
	letter-spacing: 1px;
}

.nav--menu-icon:hover {
	color: green;
}

.home,
.project {
	height: calc(100vh - 65px);
	margin-left: 15vh;
	margin-right: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home--container,
.project--container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.home--image {
	border-radius: 50px;
	max-height: 500px;
	width: auto;
	margin-bottom: 1rem;
}

.home--text {
	font-size: 3rem;
}

.home--text-name {
	font-size: 4rem;
}

.home--link {
	font-size: 2rem;
	color: black;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 65px;
	position: relative;
}

.about--text,
.project--content {
	font-size: 1.2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	text-align: left;
	width: 519.5px;
}

.about--text-header,
.project--content-header {
	font-size: 3rem;
	font-weight: bold;
}

.about--image,
.project--image {
	border-radius: 50px;
	max-height: 500px;
	width: auto;
	margin-bottom: 1rem;
}

.contact {
	height: calc(100vh - 65px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact--form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 320px;
	margin: 45px auto;
}

.contact--header {
	font-size: 3rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.contact--field {
	position: relative;
	margin: 30px 0;
}

.contact--field input,
textarea {
	background: none;
	color: #333333;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 320px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #333333;
}

input:focus,
textarea,
.contact--button:active {
	outline: none !important;
}

.contact--button {
	cursor: pointer;
	margin: 0 auto;
	font-size: 1.5rem;
	font-weight: bold;
	color: black;
	border: none;
	border-radius: 15px;
	position: relative;
}

.project--content-label {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 2rem;
}

.project--content-description,
.project--content-technologies,
.project--content-github,
.project--content-deployed {
	font-size: 1.2rem;
}

.project--content-label,
.project--content-description,
.project--content-technologies,
.project--content-github,
.project--content-deployed {
	margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1150px) {
	.home {
		margin-left: 0;
		margin-right: 0;
		height: 100%;
	}
	.home--container {
		flex-direction: column;
	}
	.home--image {
		max-height: 350px;
	}
	.home--text {
		font-size: 2.5rem;
	}
	.home--text-name {
		font-size: 3.5rem;
	}
	.home--link {
		font-size: 1.5rem;
	}
	.about--text,
	.project--content {
		align-self: center;
		width: 800px;
	}

	.project--content {
		margin-bottom: 65px;
	}
	.about--image {
		max-height: 500px;
	}
	.project--image {
		max-height: auto;
		width: 800px;
	}
}

@media only screen and (max-width: 1050px) {
	.nav--link {
		display: none;
	}
	.nav--menu-icon {
		display: block;
		position: relative;
		margin: 0 20px;
		font-size: 24px;
	}
	.nav--menu-active {
		display: flex;
	}
}

@media only screen and (max-width: 850px) {
	.about--text,
	.project--content {
		display: flex;
		flex-direction: column;
		width: 450px;
	}
	.about--image {
		max-height: 350px;
	}

	.project--image {
		max-height: auto;
		width: 450px;
	}

	.about--text-header,
	.project--content-header {
		align-self: center;
	}
}

@media only screen and (max-height: 550px) {
	.home {
		height: 100%;
		margin-top: 7vh;
	}
	.home--image {
		max-height: 300px;
	}
	.home--text {
		font-size: 2rem;
	}
	.home--text-name {
		font-size: 3rem;
	}
	.home--link {
		font-size: 1.5rem;
		margin-bottom: 20px;
	}
}

@media only screen and (max-height: 700px) {
	.contact {
		height: 100%;
		margin-top: 7vh;
	}
}

@media only screen and (max-width: 500px) and (max-height: 850px) {
	.home--image {
		max-height: 300px;
	}
	.home--link {
		margin-bottom: 20px;
	}
	.home--text {
		font-size: 2rem;
	}
	.home--text-name {
		font-size: 3rem;
	}
	.about--image {
		max-height: 300px;
	}
	.project--image {
		width: 300px;
		max-height: 200px;
	}
	.about--text,
	.project--content {
		width: 300px;
	}
	.project--content-header {
		font-size: 2.5rem;
		text-align: center;
	}
	.project--content-label {
		font-size: 1.5rem;
	}
	.project--content-description,
	.project--content-technologies,
	.project--content-github,
	.project--content-deployed {
		font-size: 1rem;
	}
}
